logs/
accounts.json
backups
compatibilitytool
dalamud
dalamudAssets
dalamudUI.ini
dalamudVfs.db
devPlugins
ffxiv
ffxivConfig
installedPlugins
launcher.ini
launcherUI.ini
patch
runtime
secrets.json
temp
wineprefix
